eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: service-ribbon

logging:
  level:
    root: info
  file: logs/${spring.application.name}.log