eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8762/eureka/
spring:
  application:
    name: service-ribbon
  main:
    allow-bean-definition-overriding: true
logging:
  level:
    root: info
  file: logs/${spring.application.name}.log