eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8762/eureka/
spring:
  application:
    name: service-ribbon
  main:
    allow-bean-definition-overriding: true
logging:
  level:
    root: info
  file: logs/${spring.application.name}.log

#ribbon的超时时间设置以免调用feign超时
ribbon:
  ReadTimeout: 30000
  ConnectTimeout: 30000